syntax: regexp
\target      # maven output
\.settings  # eclipse
test-output # eclipse junit/testng plugin output
\.metadata
\Servers
\.hg

syntax: glob
*.DS_Store
*.class
*.jar
*struts2-*
*.project
.hgignore
.classpath
*/target/*
