@(title: String)(nav: cliffy.web.cliffordcorner.CliffordCornerNav)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
	    <link href='//fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
	    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" />
	    <link href="@routes.Assets.at("stylesheets/styles.css")" rel="stylesheet" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
		<div class="container wrapper">

			<div class="row">
				<div class="col-xs-12 navbar navbar-default">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">CliffordCorner</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="@if(request.path == routes.Application.index.url) {active}"><a href="@routes.Application.index">Home</a></li>
@for(item <- nav.getFeatured()) {
								<li class="@if(request.path == item.getAction()) {active}"><a href="@item.getAction()">@item.getTitle()</a></li>
}
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
									<ul class="dropdown-menu">
@for(item <- nav.getMore()) {
		                				<li class="@if(request.path == item.getAction()) {active}"><a href="@item.getAction()">@item.getTitle()</a></li>
}
					</s:iterator>
					</ul>
				</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="content" style="float: none;">
				@content
			</div>
		
		</div>

		<script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/offcanvas.js")"></script>
    </body>
</html>
