@(photo: cliffy.common.Photograph)(nav: cliffy.web.cliffordcorner.CliffordCornerNav)

@main("Welcome to Play")(nav) {
<div class="row row-offcanvas row-offcanvas-right">
<div class="content col-xs-12 col-sm-9">

<p class="pull-right visible-xs">
	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle tags</button>
</p>

<h1>@photo.getTitle()</h1>

<a title="@photo.getTitle()" class="spotlight" href="@photo.getUriSource()">
<object type="application/x-shockwave-flash" width="640" height="480" data="http://www.flickr.com/apps/video/stewart.swf?v=71377" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
<param name="flashvars" value="@models.HtmlHelpers.getFlashVars(photo)"></param>
<param name="movie" value="http://www.flickr.com/apps/video/stewart.swf?v=71377"></param>
<param name="bgcolor" value="#000000"></param>
<param name="allowFullScreen" value="true"></param>
<embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/video/stewart.swf?v=71377" bgcolor="#000000" allowfullscreen="true" flashvars="@models.HtmlHelpers.getFlashVars(photo)" height="480" width="640"></embed>
</object>
</a>


@if(photo.getDescription() != null) {
	@Html(photo.getDescription())
}

</div>

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
<div class="list-group">
@for(tag <- photo.getTags()) {
<a href="/photographs/@tag" class="list-group-item">@tag</a>
}
</div>
</div><!--/span-->
</div>
}
